* {
    box-sizing: border-box;
}


body {
    
    --dark-cornflower-blue: hsla(225, 57%, 35%, 1);
    --light-blue: hsla(188, 36%, 74%, 1);
    --aero-blue: hsla(157, 44%, 83%, 1);

    background-color: lightblue;
    color: darkred;

    background-color: var(--aero-blue);
    color: var(--dark-cornflower-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h2 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 10px;
    width: 500px;
    height: 400px;
}

p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 200px;
}

#guess-input {
    text-align: center;
}

button {
    background-color: var(--light-blue);
    color: var(--dark-cornflower-blue);
    width: 200px;
}

span {
    height: 15px;
}
